In [47]:
import pandas as pd
import numpy as np
import sklearn as linear_model
from sklearn.linear_model import LinearRegression

In [48]:
df = pd.read_csv(r'C:\Users\dhruv\Downloads\homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [49]:
d = df.bedrooms.median()
print(d)

4.0

In [50]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [51]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis = 'columns'),df.price)

AttributeError: module 'sklearn' has no attribute 'LinearRegression'